<% if(success && success.length) { %>
<div class="flash-msg-container">
  <div class="flash-msg flash-success">
    <%= success %>
    <div class="flash-dismiss">❌</div>
  </div>
</div>
<% } if(error && error.length) { %>
<div class="flash-msg-container">
  <div class="flash-msg flash-error">
    <%= error %>
    <div class="flash-dismiss">❌</div>
  </div>
</div>
<% } %>
