<nav class="f-navbar">
  <div class="container">
    <a href="/"><span>YelpCamp 2024</span></a>
    <ul>
      <li><a class="ts-button" href="/">Home</a></li>
      <li><a class="ts-button" href="/campgrounds">All Campgrounds</a></li>
      <li><a class="ts-button" href="/campgrounds/new">New Campground</a></li>
    </ul>
  </div>
</nav>