<nav class="f-navbar">
  <a class="f-title" href="/"><h2>YelpCamp 2024</h2></a>
  <ul>
    <li><a class="nav-button" href="/">Home</a></li>
    <li><a class="nav-button" href="/campgrounds">All Campgrounds</a></li>
    <li><a class="nav-button" href="/campgrounds/new">New Campground</a></li>
  </ul>
</nav>
