<nav class="navbar">
  <ul class="nav-links">
    <a class="nav-title" href="/"><h1>YELPCAMP</h1></a>
    <li><a class="nav-button" href="/">Home</a></li>
    <li><a class="nav-button" href="/campgrounds">All Campgrounds</a></li>
    <li><a class="nav-button" href="/campgrounds/new">New Campground</a></li>
  </ul>
  <ul class="login-links">
    <% if(!currentUser) { %>
    <li><a class="ts-button" href="/login">login / register</a></li>
    <% } else { %>
    <li><a class="ts-button" href="/logout">logout</a></li>
    <% } %>
  </ul>
</nav>
