<%= layout('layouts/boilerplate') %>
<div class="error-page-container">
  <h1>
    <%= err.message %>
  </h1>
  <% if(process.env.NODE_ENV !== "production") { %>
    <p>
      <%= err.stack %>
    </p>
  <% } %>
</div>