<% layout('./layouts/boilerplate') %>

<div class="cluster-map-container">
  <div id="cluster-map"></div>
  <div class="activate-overlay">click to activate</div>
</div>

<section class="index-content-container">
  <div class="page-title-container">
    <h1 class="page-title">All Campgrounds</h1>
    <a class="ts-button add-button" href="/campgrounds/new">Add Campground</a>
  </div>

  <div class="index-content-wrapper">
    <form
      class="search-filter-form"
      id="search-filter"
      class="filter-container"
    >
      <div class="filter-input-container">
        <label class="filter-input-label" for="location-filter">Location</label>
        <input
          class="filter-input"
          id="location-filter"
          type="search"
          placeholder="Location"
        />
        <button class="search-button">Search</button>
      </div>
    </form>

    <ul class="card-container"></ul>
    <div class="pagination-controls">
      <button class="page-to first-page"><<</button>
      <button class="page-to prev-page"><</button>
      <p class="page-number"><%= page %></p>
      <button class="page-to next-page">></button>
      <button class="page-to last-page">>></button>
    </div>
  </div>
</section>

<script>
  const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
  const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
</script>

<script src="js/pagination&render.js"></script>

<script src="js/clusterMap.js"></script>
